<div class="cell cellWidth{{width}}" style="width: {{pixWidth}}px; height: {{pixHeight}}px; left: {{pixX}}px; top: {{pixY}}px">
<div class="cellcontents"> 
    <div class="celltab controltab">
        <div class="controlpanel">
            <a href="#" class="YP w1h1 active" title="Yellow Pages">YL</a>
            <a href="#" class="WP w1h1 active" title="White Pages">WP</a>
            <a href="#" class="Whereis w3h3" title="Whereis Maps">Whereis</a>
            <a href="#" class="FB w1h1 active" title="Facebook">FB</a>
            <a href="#" class="YT w3h2" title="Youtube">Youtube</a>
            <a href="#" class="Tasks w3h2 active" title="Tasks">Tasks</a>
            <a href="#" class="calc w2h2" title="Calculator">Calculator</a>
            <a href="#" class="Freetext w1h1 active" title="freetext">freetext</a>
            <a href="#" class="Hyperlink w1h1 active" title="Web link">weblink</a>
            <a href="#" class="Image w1h1 active" title="Image">image</a>
            <a href="#" class="Calendar w1h1 active" title="Calendar">calendar</a>
        </div>
    </div>
</div>
<div class="celltab closetab">
    <div class="closepanel">
        <a href="#" class="scale" title="Scale">scale</a>
        <a href="#" class="close" title="Close">close</a>
    </div>
</div>
</div>